<%= content_for(:title, "Zrob_to APP") %>
<% if user_signed_in? %>
<p><%= link_to "Nowe zadanie", new_task_path, class: 'btn btn-primary' %></p>
	<div class="panel panel-default">
	  <div class="panel-heading"><h3><b>Wszystkie zadania</b></h3></div>
	 	 	<div class="panel-body">
				<%= render @tasks %>
			</div>
		</div>
	</div>

	<% if @tasks.empty? %>
		<li class="list-group-item">
			Nie masz jeszcze żadnego zadania. Dodaj nowe zadanie 
			<div class="btn-group btn-group-sm">
	  			<%= link_to 'New Task', new_task_path, class: 'btn btn-success' %>
			</div>
		</li>
	<% end %>

<% else %>

	<div class="jumbotron">
		<div class="row">
		  <div class="col-md-6">
		  	<h1>zrob_to</h1>
			<h3>Aplikacja wspomagająca pracę</h3>
			<p><a class="btn btn-success btn-lg" role="button">Learn more</a></p>
		  </div>
		  <div class="col-md-6">
		  	<% 21.times do %>
		  		<i class="fa fa-spinner fa-spin fa-5x"></i>
		  	<% end %>

		  </div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, necessitatibus?</div>
		<div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, sed, repellat, quae distinctio adipisci doloremque quidem aut culpa necessitatibus harum dolor ea soluta ipsum veritatis cum aliquid autem! Porro, tenetur, esse, hic nulla ea placeat facilis quis facere optio suscipit eligendi expedita voluptates incidunt accusamus adipisci quos modi natus quasi accusantium fugiat debitis beatae libero error distinctio laborum deleniti veritatis deserunt possimus architecto officia magnam exercitationem eius illo pariatur nostrum dolorem aspernatur soluta? Debitis, reprehenderit rerum ratione asperiores eum explicabo totam incidunt quisquam velit alias suscipit magni dicta. Porro, cumque incidunt suscipit aperiam expedita qui ab vel molestiae eum reprehenderit.</div>
		<div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, quae, animi sunt ut atque vero aut quidem ipsam consectetur non dignissimos laudantium error possimus repellat voluptate dolores eaque veritatis quibusdam quasi temporibus! Eius, tenetur, numquam, hic, ea illo eaque dignissimos perferendis molestiae saepe tempora rerum enim vero sit est unde.</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, delectus.
		</div>
	</div>
<% end %>