<%= content_for(:title, "Unfinished tasks") %>
<h2>Ukończone zadania</h2>

<div class="panel panel-default">
  <div class="panel-heading"><h3><b>Wszystkie zadania</b></h3></div>
	  <div class="panel-body">
    	<%= render @tasks %>
  	</div>
	</div>
</div>



